h1,h2,h3,h4,p {
    font-family: 'Quicksand', sans-serif;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    flex-flow: row-wrap;
    justify-content: center;
    align-content: center;

}

nav li:first-child {
    flex-basis: 70%;
    text-align: left;
}

.head {
    background-color: red;
    height: 450px;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #f1f1f1;

}

.head p {
    color: white;
    margin: 0px;
    padding-top: 1rem;
    margin: 0px auto;
}

.container {
    border: 3px solid red;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;
    margin-top: 200px;
  }
  
  .canvas {
    position: absolute;
    top: 0;
  }
  .form {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .form p {
    font-size: 11px;
  }

 .section1 {
    margin-left: 650px;
 }

 @media screen and (min-width: 500px) {
    .section1 {
        margin-left: 50px;
     }
  }